/**
 * @file
 * This file is used to provide base style for the 'payment channels' theme.
 */

.payment-channels {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.payment-channel {
  width: 200px;
  margin: 10px;
  padding: 10px;
  box-sizing: border-box;
  background: transparent;
  border: none;
  border-radius: 5px;
  box-shadow: 0 0 1px 1px #f0f0f0 inset;
}

.payment-channel,
.payment-channel:focus {
  outline: none;
}

.payment-channel.active {
  box-shadow: 0 0 0 2px #9dde57 inset;
}

.payment-channel span {
  display: block;
}

.payment-channel .channel-name {
  margin-top: 5px;
}
