{#
/**
 * @file
 * Payment channels theme implementation.
 *
 * Available variables
 * - items: An array of payment channels.
 * - attributes: A list of HTML attributes for the wrapper element.
 *
 * @see template_preprocess_commerce_dotpay_payment_channel().
 */
#}
{% set classes = [
  'payment-channels'
] %}
{% if items %}
  <div{{ attributes.addClass(classes) }}>
    {% for item in items %}
      {{ item }}
    {% endfor %}
  </div>
{% endif %}
