{#
/**
 * @file
 * Payment channel theme implementation.
 *
 * Available variables
 * - channelId: ID of the payment channel.
 * - channelName: Human readable channel name.
 * - channelLogo: External url to payment channel logo.
 * - attributes: A list of HTML attributes for the wrapper element.
 *
 * @see template_preprocess_commerce_dotpay_payment_channel().
 */
#}
<button{{ attributes.setAttribute('type', 'button')}}>
  <span class="channel-image">
    <img src="{{ channelLogo }}" alt="{{ channelName }}">
  </span>
  <span class="channel-name">
      {{ channelName }}
  </span>
</button>
